body {
    background-color:darkslateblue;
}

.App {
    margin-top: 15%;
    padding: 4px;
    text-align: center;
    font-family: 'Times New Roman';
    background-color: mediumslateblue;
}

ul {
    list-style: none;
}

.App-link {
  color: #61dafb;
  padding: 5px;
  border: 1px solid;
  background-color: darkslategray;
}


